* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  position: relative;
  height: 800px;
  background-image: url("../img/background_header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
}
header .header_bottom {
  display: flex;
  height: 75.7%;
}
header .header_bottom .slider {
  width: 50%;
  padding-left: 14%;
  padding-top: 3%;
}
header .header_bottom .slider .author_name {
  font-size: 99px;
  font-family: "Kristi", cursive;
  color: #f4b429;
}
header .header_bottom .slider .review {
  color: white;
  font-size: 47px;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  line-height: 67px;
}
header .header_bottom .slider .review_author {
  color: #a3a3a3;
  font-size: 23px;
  font-family: "DM Sans", sans-serif;
  font-style: italic;
  padding-top: 6%;
}
header .header_bottom .slider .slider_control {
  width: 106px;
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
}
header .header_bottom .slider .slider_control .arrow_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 50px;
  background-color: black;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
header .header_bottom .slider .slider_control .arrow_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 50px;
  background-color: black;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
header .header_bottom .buy_book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 690px;
  height: 400px;
  margin-top: 10.8%;
  background-color: white;
}
header .header_bottom .buy_book .buy_book_top {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_bottom .buy_book .buy_book_top .kindle_description .section_title {
  font-size: 25px;
  font-family: "DM Serif Display", serif;
  color: black;
}
header .header_bottom .buy_book .buy_book_top .kindle_description .book_title {
  font-size: 14px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  color: #f4b429;
  padding: 25px 0;
}
header .header_bottom .buy_book .buy_book_top .kindle_description .book_description {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  color: #484848;
  width: 270px;
  word-wrap: break-word;
}
header .header_bottom .buy_book .buy_book_bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
header .header_bottom .buy_book .buy_book_bottom .amazon_bnt {
  width: 275px;
  height: 52px;
  background-color: transparent;
  border: 1px solid #a4d2c2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
header .header_bottom .buy_book .buy_book_bottom .amazon_bnt i {
  padding-right: 10px;
}
header .header_bottom .buy_book .buy_book_bottom .apple_bnt {
  width: 275px;
  height: 52px;
  background-color: transparent;
  border: 1px solid #a4d2c2;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
header .header_bottom .buy_book .buy_book_bottom .apple_bnt i {
  padding-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 194px;
  margin: auto;
}
.navbar .navbar_left {
  color: white;
  display: flex;
  flex-direction: row-reverse;
  font-family: "DM Sans", sans-serif;
}
.navbar .navbar_left ul {
  list-style: none;
}
.navbar .navbar_left ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 13px;
  font-size: 17px;
  font-weight: 400;
}
.navbar .navbar_left ul li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.navbar .navbar_left ul li:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  margin-bottom: 30px;
}
.navbar .navbar_left ul li.active {
  color: #f4b429;
}
.navbar .navbar_left ul li.active:before {
  content: "";
  background-color: #f4c358;
  display: block;
  width: 100%;
  height: 6px;
  margin-bottom: 30px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 543px;
  background-color: white;
}
.about .about_title {
  width: 1350px;
  height: 90px;
  text-align: center;
  font-size: 90px;
  font-family: "Kristi", cursive;
  color: #f4b429;
  margin-bottom: 40px;
}
.about .about_content {
  width: 1350px;
  height: 96px;
  text-align: center;
  font-size: 30px;
  font-family: "DM Sans", sans-serif;
  color: black;
  margin-bottom: 20px;
}
.about .about_btn {
  width: 168px;
  height: 43px;
  background-color: #49a987;
  border: none;
  border-radius: 6px;
}
.about .about_btn a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}

.platform {
  width: 100%;
  height: 203px;
  background-color: #FEF7E9;
}
