.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 543px;
    background-color: white;
    .about_title {
        width: 1350px;
        height: 90px;
        text-align: center;
        font-size: 90px;
        font-family: $kristiFont;
        color: $mainColor;
        margin-bottom: 40px;
    }
    .about_content {
        width: 1350px;
        height: 96px;
        text-align: center;
        font-size: 30px;
        font-family: $dmSansFont;
        color: black;
        margin-bottom: 20px;
    }
    .about_btn {
        width: 168px;
        height: 43px;
        background-color: #49a987;
        border: none;
        border-radius: 6px;
        a {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            color: white;
            font-family: $dmSansFont;
            font-size: 14px;
        }
    }
}

.platform {
    
    width: 100%;
    height: 203px;
    background-color: #FEF7E9;
    .platform_wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        height: 100%;
        margin: auto;
        .platform_logo {
            width: 220px;
            height: 72px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.audio_book {
    width: 100%;
    height: 604px;
    background-image: url("../img/audiobook_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .audio_book_wrapper {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        width: 70%;
        height: 100%;
        margin: auto;
        .app_screen {
            width: 505px;
            height: 529px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .audio_book_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 505px;
            height: 529px;
            .wrapper {
                width: 100%;
                height: 255px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center; 
                .audio_title {
                color: white;
                font-size: 42px;
                font-family: $dmSerifDisplayFont;
                }
                .audio_subtitle {
                    color: $mainColor;
                    font-size: 18px;
                    font-family: $dmSansFont;
                }
                .audio_content {
                    color: #999999;
                    font-size: 18px;
                    font-family: $dmSansFont;
                    width: 430px;
                }
                .audio_platform_logo {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 44px;
                    .logo_container{
                        width: 136px;
                        height: 44px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.critics {
    width: 100%;
    height: 1041px;
    background-color: white;
}