.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 543px;
    background-color: white;
    .about_title {
        width: 1350px;
        height: 90px;
        text-align: center;
        font-size: 90px;
        font-family: $kristiFont;
        color: $mainColor;
        margin-bottom: 40px;
    }
    .about_content {
        width: 1350px;
        height: 96px;
        text-align: center;
        font-size: 30px;
        font-family: $dmSansFont;
        color: black;
        margin-bottom: 20px;
    }
    .about_btn {
        width: 168px;
        height: 43px;
        background-color: #49a987;
        border: none;
        border-radius: 6px;
        a {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            color: white;
            font-family: $dmSansFont;
            font-size: 14px;
        }
    }
}

.platform {
    width: 100%;
    height: 203px;
    background-color: #FEF7E9;
    .platform_wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        height: 100%;
        margin: auto;
        .platform_logo {
            width: 220px;
            height: 72px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.audio_book {
    width: 100%;
    height: 604px;
    background-image: url("../img/audiobook_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .audio_book_wrapper {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        width: 70%;
        height: 100%;
        margin: auto;
        .app_screen {
            width: 505px;
            height: 529px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .audio_book_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 505px;
            height: 529px;
            .wrapper {
                width: 100%;
                height: 255px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center; 
                .audio_title {
                color: white;
                font-size: 42px;
                font-family: $dmSerifDisplayFont;
                }
                .audio_subtitle {
                    color: $mainColor;
                    font-size: 18px;
                    font-family: $dmSansFont;
                }
                .audio_content {
                    color: #999999;
                    font-size: 18px;
                    font-family: $dmSansFont;
                    width: 430px;
                }
                .audio_platform_logo {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 44px;
                    .logo_container{
                        width: 136px;
                        height: 44px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.critics {
    width: 100%;
    height: 1041px;
    background-color: white;
    .critics_wrapper {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        margin: auto;
        padding-top: 82px;
        .critics_top {
            display: flex;
            width: 100%;
            height: 99px;
            .left {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 60%;
                height: 100%;
                .critics_title {
                    font-size: 40px;
                    font-family: $dmSerifDisplayFont;
                }
                .critics_subtitle {
                    font-size: 18px;
                    font-family: $dmSansFont;
                    font-weight: 500;
                    color: #49a987;
                    letter-spacing: 1.62px;
                }
            }
            .right {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 40%;
                height: 100%;
                button {
                    width: 225px;
                    height: 43px;
                    border: none;
                    background-color: $mainColor;
                    border-radius: 6px;
                    a {
                        text-decoration: none;
                        color: inherit;
                        cursor: pointer;
                        color: white;
                        font-size: 14px;
                        font-family: $dmSansFont;
                    }
                }
            }
        }
        .critics_bottom {
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 30px;
            .left {
                width: 59%;
                .big_card {
                    position: relative;
                    width: 763px;
                    height: 725px;
                    border-radius: 0px 0px 90px;
                    background-image: url("../img/testimonial-nyt.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    color: white;
                    overflow: hidden;
                    transition: all 0.2s linear;
                    &:hover {
                        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.5);
                        transform: scale(1.05)
                    }
                    .overlay {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: black;
                        background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
                        .content_wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: flex-start;
                            width: 573px;
                            height: 493px;
                            .critics_big_card_title {
                                font-size: 40px;
                                font-family: $dmSerifDisplayFont;
                                &:after {
                                    content: "";
                                    background-color: lightgrey;
                                    display: block;
                                    width: 100%;
                                    height: 1px;
                                    margin: 30px 0;
                                }
                            }
                            .critics_big_card_subtitle {
                                font-size: 22px;
                                font-family: $dmSansFont;
                            }
                            .critics_big_card_content {
                                width: 530px;
                                font-size: 18px;
                                font-family: $dmSansFont;
                                margin-top: 35px;
                            }
                            .critics_big_card_author {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 381px;
                                margin-top: 45px;
                                .critics_author {
                                    font-size: 18px;
                                    font-family: $dmSansFont;
                                    font-weight: 700;
                                    .critics_company {
                                        font-size: 18px;
                                        font-family: $dmSansFont;
                                        font-weight: 500;
                                        color: #49a987;
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
            .right {
                width: 41%;
                height: 700px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .little_card {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 500px;
                    height: 292px;
                    margin-left: auto;
                    background-color: #fef7e9;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 280px;
                        left: 30px;
                        width: 20px;
                        height: 20px;
                        background-color: #fef7e9;
                        transform: rotate(45deg);
                    }
                    .critics_little_card_title {
                        font-size: 25px;
                        font-family: $dmSerifDisplayFont;
                        margin-bottom: 20px;
                    }
                    .critics_little_card_content {
                        width: 400px;
                        font-size: 18px;
                        font-family: $dmSansFont;
                        line-height: 30.6px;
                        color: #747474;
                        text-align: center;
                    }
                    .critics_little_card_author {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        top: 293px;
                        left: 0;
                        width: 500px;
                        height: 52px;
                        margin-bottom: 20px;
                        .critics_author {
                            font-size: 18px;
                            font-family: $dmSansFont;
                            font-weight: 500;
                            color: #747474;
                            padding-left: 25px;
                            .critics_company {
                                font-weight: 500;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}

.events {
    width: 100%;
    height: 813px;
    background-color:  #FEF7E9;
    .events_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 78%;
        height: 100%;
        margin: auto;
        .events_top {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 82px;
            margin-bottom: 60px;
            .section_title {
                font-size: 40px;
                font-family: $dmSerifDisplayFont;
                padding-bottom: 15px;
            }
            .section_subtitle {
                font-size: 18px;
                font-family: $dmSansFont;
                color: $mainColor;
                font-weight: 500;
            }
        }
        .events_bottom {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 451px;
            .event_card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 451px;
                height: 506px;
                background-color: white;
                img {
                    width: 100%;
                    height: 270px;
                    transition: filter 0.3s linear;
                    &:hover {
                        filter: opacity(70%);
                    }
                }
                .event_title {
                    font-size: 26px;
                    font-family: $dmSansFont;
                    text-align: center;
                    padding-top: 30px;
                    &:after {
                        content: "";
                        background-color: lightgrey;
                        display: block;
                        width: 381px;
                        height: 1px;
                        margin: 30px 0;
                    }
                }
                .event_content {
                    width: 381px;
                    font-size: 18px;
                    font-family: $dmSansFont;
                    color: #4f4f4f;
                    text-align: center;
                    padding-bottom: 50px;
                }
            }
        }
    }
}

.newsletter {
    display: flex;
    align-items: center;
    width: 100%;
    height: 577px;
    background-image: url("../img/newsletter-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .newsletter_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 27%;
        height: 354px;
        margin: auto;
        .newsletter_title {
            width: 306px;
            font-size: 42px;
            font-family: $dmSerifDisplayFont;
            color: white;
            text-align: center;
        }
        .newsletter_subtitle {
            font-size: 18px;
            font-family: $dmSansFont;
            color: $mainColor;
        }
        .newsletter_input {
            width: 293px;
            height: 55px;
            padding: 0 15px;
            font-size: 15px;
            font-family: $dmSansFont;
            color: #332f2f;
            outline: none;
            border: none;
            border-radius: 4px;
        }
        .newsletter_btn {
            width: 189px;
            height: 55px;
            margin-left: 20px;
            font-size: 18px;
            font-family: $dmSansFont;
            color: white;
            background-color: #49a987;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: 6px;
        }
        .newsletter_content {
            width: 503px;
            font-size: 18px;
            font-family: $dmSansFont;
            color: #8e8e8e;
            text-align: center;
        }
    }
}

.info {
    width: 100%;
    height: 847px;
    .info_wrapper {
        display: flex;
        flex-direction: column;
        width: 78%;
        height: 100%;
        margin: auto;
        .info_top {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 82px;
            margin-top: 82px;
            margin-bottom: 60px;
            .section_title {
                font-size: 40px;
                font-family: $dmSerifDisplayFont;
                padding-bottom: 15px;
            }
            .section_subtitle {
                font-size: 18px;
                font-family: $dmSansFont;
                color:  #49a987;
                font-weight: 500;
            }
        }
        .info_bottom {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 451px;
            .info_card {
                position: relative;
                width: 412px;
                height: 517px;
                border-radius: 0px 0px 40px;
                background-size: cover;
                background-repeat: no-repeat;
                overflow: hidden;
                transition: all 0.2s linear;
                &:hover {
                    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.5);
                    transform: scale(1.05)
                }
                .overlay {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
                    .info_title {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 26px;
                        font-family: $dmSansFont;
                        text-align: center;
                        color: white;
                        &:after {
                            content: "";
                            background-color: lightgrey;
                            display: block;
                            width: 50px;
                            height: 2px;
                            margin-top: 15px;
                            margin-bottom: 20px;
                            text-align: center;
                        }
                    }
                    .info_content {
                        width: 381px;
                        font-size: 18px;
                        font-family: $dmSansFont;
                        color: $mainColor;
                        text-align: center;
                        padding-bottom: 50px;
                    }
                }
            }
        }
    }
}

.articles {
    width: 100%;
    height: 1088px;
    background-color: #fef7e9;
    .articles_wrapper {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        margin: auto;
        padding-top: 82px;
        .articles_top {
            display: flex;
            width: 100%;
            height: 99px;
            .left {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 60%;
                height: 100%;
                .articles_title {
                    font-size: 40px;
                    font-family: $dmSerifDisplayFont;
                }
                .articles_subtitle {
                    font-size: 18px;
                    font-family: $dmSansFont;
                    font-weight: 500;
                    color: #49a987;
                    letter-spacing: 1.62px;
                }
            }
            .right {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 40%;
                height: 100%;
                button {
                    width: 225px;
                    height: 43px;
                    border: none;
                    background-color: $mainColor;
                    border-radius: 6px;
                    a {
                        text-decoration: none;
                        color: inherit;
                        cursor: pointer;
                        color: white;
                        font-size: 14px;
                        font-family: $dmSansFont;
                    }
                }
            }
        }
        .articles_bottom {
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 30px;
            .left {
                width: 66%;
                .big_card {
                    width: 878px;
                    height: 734px;
                    padding: 46px;
                    background-color: white;
                    font-family: $dmSansFont;
                    .content_wrapper {
                        width: 717px;
                        padding-left: 20px;
                        .articles_big_card_title {
                            font-size: 26px;
                            padding-top: 30px;
                            padding-bottom: 10px;
                        }
                        .articles_big_card_subtitle {
                            font-size: 14px;
                            color: #4f4f4f;
                            padding-bottom: 33px;
                        }
                        .articles_big_card_content {
                            width: 742px;
                            font-size: 18px;
                            color: #4f4f4f;
                        }
                    }
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 412px;
                height: 734px;
                margin-left: auto;
                padding: 37px;
                background-color: white;
                .little_card {
                    display: flex;
                    flex-direction: column;
                    width: 337px;
                    height: 285px;
                    margin-left: auto;
                    font-family: $dmSansFont;
                    .articles_little_card_title {
                        font-size: 24px;
                        padding-top: 15px;
                        padding-bottom: 5px;
                    }
                    .articles_little_card_subtitle {
                        font-size: 14px;
                        span {
                            color: #4f4f4f;
                        }
                    }
                }
            }
        }
    }
}

